<h1>CRUD operations for Car registration States</h1>
<%= link_to "Add New state code", new_car_registration_state_path %> |
<%= link_to "Go to Admin Dashboard", admins_index_path %>


<% if @car_registration_states != [] %>

<h3>Listing of Car registration states</h3>
<table>
  <tr>
    <th>Name</th>
    <th colspan="3"></th>
  </tr>
 
  <% @car_registration_states.each do |c| %>
    <tr>
      <td><%= c.name %></td>
      <td><%= link_to "Show", car_registration_state_path(c) %></td>
      <td><%= link_to "Edit", edit_car_registration_state_path(c) %></td>
      <td><%= link_to "Destroy", car_registration_state_path(c),
              method: :delete,
              data: { confirm: "Are you sure?" } %></td>
    </tr>
  <% end %>
</table>
<% end %>