<h1>Admin Dashboard</h1>
<p><%= link_to 'Add car brands and models', car_brands_path %></p>
<p><%= link_to 'Add city', car_cities_path %></p>
<p><%= link_to 'Add car registration states', car_registration_states_path %></p>
<p><%= link_to 'Add car variant', car_variants_path %></p>
<p><%= link_to 'Add car kilometer driven ranges', car_kilometer_drivens_path %></p>
<p><%= link_to 'Add car registration years', car_registration_years_path %></p>
<p><%= link_to 'Add car costs', car_costs_path %></p>
<p><%= link_to 'Manage Appointments', appointments_path %></p>