<%= form_for var_1 do |form| %>
  <%= render :partial => "shared/error", locals: {var: var_1} %>
  <p>
    <%= form.label :name %>
    <br>
    <%= form.text_field :name , required: true %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>